<app-header></app-header>
<section class="main-auth">
  <div class="container">
    <div class="auth">
      <h4>Avtoritzatsiya</h4>
      <p>Tarmoqlardan foydalish</p>
      <div class="social">
        <a href="#" class="social-item social-vk"></a>
        <a href="#" class="social-item social-discord"></a>
        <a href="#" class="social-item social-yandex"></a>
        <a href="#" class="social-item social-google"></a>
      </div>
      <div class="form">
        <input type="email" name="email" placeholder="Почта" required="required">
        <input type="password" name="password" placeholder="Пароль" required="required">
        <a href="#">Parolingiz esdan chiqdimi?</a>
        <button>Tizimga kirish</button>
        <a href="#">Hali ham hisobingiz yo'qmi? Ro'yxatdan o'tish</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

