.main-auth {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 90vh;

}

.auth {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.auth>h4 {
  font-size: 30px;
  font-weight: 600;
  color: #232323;
  margin: 15px 0;
}

.auth>p {
  font-size: 15px;
  margin-bottom: 16px;
  color: rgba(0,0,0,.6);
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.social>a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
}

.social-vk {
  background-color: #1da1f2;
}

.social-vk:hover {
  background-color: #3faff4;
}

.social-facebook {
  background-color: #fc3f1d;
}

.social-facebook:hover {
  background-color: #f1573c;
}

.social-google {
  background-color: #db4437;
}

.social-google:hover {
  background-color: #d35146;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form>input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  outline-color: #8b00ff;
  padding: 10px 15px;
  color: rgba(0,0,0,.87);
}

.form>a {
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: transparent;
  color: rgba(0,0,0,.87);
  text-align: start;
}

.form>a:hover {
  color: #8949e8;
}

.form>button {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #772ce8;
  border: none;
  border-radius: 10px;
  padding: 9px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form>button:hover {
  background-color: #986add;
}
