<app-header> </app-header>
<div class="subject-add-main">


<div class="editor-container">

  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">

  <div class="title-section">
    <input id="title" formControlName="title" type="text" placeholder="Enter Title..." />
    <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched">
      <small style="color: red" *ngIf="articleForm.get('title')?.errors?.['required']">Maqola nomi majburiy.</small>
      <small style="color: red" *ngIf="articleForm.get('title')?.errors?.['minlength']">Kamida 5 ta belgi bo‘lishi kerak.</small>
    </div>
  </div>

  <div class="editor-wrapper">
    <div class="editor-section">
      <h2>Markdown Editor (id:{{subjectId}})</h2>
      <textarea id="markdown-editor" formControlName="content" placeholder="Write your Markdown here..."></textarea>
      <div *ngIf="articleForm.get('content')?.invalid && articleForm.get('content')?.touched">
        <small style="color: red" *ngIf="articleForm.get('content')?.errors?.['required']">Kontent majburiy.</small>
        <small style="color: red" *ngIf="articleForm.get('content')?.errors?.['minlength']">Kamida 20 ta belgi bo‘lishi kerak.</small>
      </div>
      <div class="toolbar">
        <label for="image-input">Upload Image:</label>
        <input id="image-input" type="file" accept="image/*" />
        <button id="insert-image-button">Insert Image</button>
      </div>
    </div>
    <div class="preview-section">
      <h2>Preview(id:{{subjectId}})</h2>
      <div id="markdown-preview" [innerHTML]="getHtmlContent()"></div>
    </div>
  </div>

  <div class="upload-button">
    <button (click)="onSubmit()">Yuklash</button>
  </div>

  </form>
</div>

</div>
<app-footer></app-footer>
