.footer{
  background-color: #021017;
  padding: 50px 0;
  text-align: center;
}
.footer__brand img{
  width: 48px;
  height: 48px;
}
.footer__navigation-item{
  display: inline-block;
  padding: 0 10px;
}
.footer__navigation-item a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.footer__socials{
  list-style: none;
}
.footer__socials li{
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 36px;
  background-color: #fff;
  text-align: center;
  margin-right: 12px;
  line-height: 45px;
}
.footer__socials :hover{
  background: linear-gradient(to right, #1345eb 0%, #ed239f 51%, #1345eb 100%);
}
.footer__social i:hover{
  color: #fff;
}
.footer__socials a{
  color: #021017;
}
.footer__copyright{
  color: #a0a0a0;
  font-size: 14px;
  text-decoration: none;
}
