<!-- Footer section-->
<footer class="footer">
  <div class="container">

    <div class="footer__brand">
      <img ngSrc="./assets/images/logo.png" alt="Logo" height="320" width="320">
    </div>
    <nav class="footer__navigation">
      <ul class="footer__navigation__items">
        <li class="footer__navigation-item"><a href="#">Home</a></li>
        <li class="footer__navigation-item"><a href="#">About</a></li>
        <li class="footer__navigation-item"><a href="#">Services</a></li>
        <li class="footer__navigation-item"><a href="#">Portfolio</a></li>
        <li class="footer__navigation-item"><a href="#">Blog</a></li>
        <li class="footer__navigation-item"><a href="#">My partners</a></li>

      </ul>
    </nav>
    <ul class="footer__socials">
      <li class="footer__social">

        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="footer__social">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="footer__social">
        <a href="#">
          <i class="fab fa-google-plus"></i>
        </a>
      </li>
      <li class="footer__social">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

    </ul>
    <p class="footer__copyright">
      © 2021 All rights reserved. Unauthorized duplication is prohibited.
      copyrigth 2021

    </p>
  </div>
</footer>
