.footer {
  background-color: #021017;
  text-align: center;
}

.footer-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  color: white;
}

.footer-item {
  width: 90%;
  margin: 0 auto;
}

.footer-logo-item>a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.footer-logo-item>a>img {
  width: 50px;
}

.footer-item>ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-left: 40%;
}

.footer-item>ul>li {
  text-align: left;
}

.footer-item>ul>li>a {
  text-decoration: none;
  color: white;
}

.footer__socials {
  list-style: none;
}
.footer__socials>li {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 36px;
  background-color: #fff;
  margin-right: 12px;
  line-height: 45px;
}

.footer__socials>li:hover{
  background: linear-gradient(to right, #1345eb 0%, #ed239f 51%, #1345eb 100%);
}

.footer__socials>li>a {
  padding: 13px;
  border-radius: 36px;
  color: #021017;
}

.footer__socials>li>a:hover {
  color:white;
}
