<footer class="footer">
  <div class="container">
    <div class="footer-items">
      <div class="footer-item">
        <div class="footer-logo-item">
          <a href="#">
            <img src="./assets/images/logo.png" alt="Logotip">
            <h3>Ma'lumot</h3>
          </a>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quia.
        </p>
      </div>
      <div class="footer-item">
        <h3>Bo'limlar</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">My Parents</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h3>Kontaktlar</h3>
        <h4>Telefon nomeri: +996000000000</h4>
        <h4>Pochta: asfghjj.gmail.com</h4>
        <div class="footer-link-items">
          <ul class="footer__socials">
            <li>
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="footer-item">
        <h3>Informatsiya</h3>
        <p class="footer__copyright">
          © 2021 All rights reserved. Unauthorized duplication is prohibited.
          copyrigth 2021
        </p>
      </div>
    </div>
  </div>
</footer>
