.main-header {
  background-color: #eaeaea;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}


.main-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 80px;
}

.header-logo>img {
  width: 100%;
}

.main-nav-items {
  display: flex;
  padding-left: 10px;
}

.main-navigation__item {
  margin-right: 6px;
  list-style: none;
}

.main-navigation__item>a {
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.main-navigation__item>a:hover {
  color: rgb(130, 6, 6);
  border-bottom: 3px solid rgb(130, 6, 6);
}

.main-navigation__item.active>a {
  color: rgb(130, 6, 6);
  border-bottom: 3px solid rgb(130, 6, 6);
}

.nav-search-auth {
  display: flex;
  align-items: center;
}

.form{
  position: relative;
}

.search{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
}

.submit{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
  no-repeat #ff9900;
  border: 0;
}

.submit:hover{
  cursor: pointer;
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
  no-repeat #ff6600;
}

.form:hover>.search{
  transform: translate(-2px, 0);
  transition: 0.8s;
  width: 240px;
  border-radius: 20px;
  transform-origin: left;
  transition: 0.8s;
  border: solid #ff6600 2px;
}
.search:active {
  border: solid #ff6600 2px;
}

.auth-button {
  margin-left: 10px;
}

.auth-button>button {
  border: none;
  border-radius: 7px;
  padding: 10px 25px;
  background: #ff9900;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.auth-button>button:hover {
  background: #ff6600;
}

.nav-btn {
  display: none;
}

@media(max-width: 1200px) {

  .main-nav-items {
    display: none;
  }

  .nav-bar:hover>.main-nav-items {
    display: block;
    margin: 0;
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    background-color: #eaeaea;
  }

  .main-navigation__item {
    margin-bottom: 10px;
  }

  .nav-btn {
    display: block;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
}
