<header class="main-header">
  <div class="container">

    <nav class="main-navigation">

      <ul class="main-navigation__items">
        <div class="header-logo">
        <a href="#">
          <img ngSrc="./assets/images/logo.png" alt="Logo" height="320" width="320"/>
        </a>
      </div>
        <li class="main-navigation__item active"><a href="#">Asosiy</a></li>
        <li class="main-navigation__item"><a href="#">Fanlar</a></li>
        <li class="main-navigation__item"><a href="#">Mualliflar ro'yxati</a></li>
        <li class="main-navigation__item"><a href="#">Postlar</a></li>
        <li class="main-navigation__item"><a href="#">Dastur mualliflari</a></li>
        <li class="main-navigation__item"><a href="#">Bog'lanish</a></li>

      </ul>
<!--      <div class="auth-container">-->
<!--        <div class="user-profile">-->
<!--          <img src="./assets/images/logo.png" alt="User Profile" class="profile-pic">-->
<!--          <span class="user-name">John Doe</span>-->
<!--          <div class="dropdown">-->
<!--            <ul>-->
<!--              <li><a href="#profile">Profile</a></li>-->
<!--              <li><a href="#settings">Settings</a></li>-->
<!--              <li><a href="#logout">Logout</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


      <div class="auth-buttons">
        <button class="btn sign-in">Kirish</button>
        <button class="btn sign-up">Registarsiya</button>
      </div>
    </nav>
  </div>
</header>
