<header class="main-header">
  <div class="container">
    <div class="main-nav-bar">
      <div class="nav-bar">
        <a href="#" class="header-logo">
          <img src="./assets/images/logo.png" alt="Logotip">
        </a>
        <ul class="main-nav-items">
          <li class="main-navigation__item active"><a href="#">Asosiy</a></li>
          <li class="main-navigation__item"><a href="#" routerLink="/subjects">Fanlar</a></li>
          <li class="main-navigation__item"><a href="#">Mualliflar ro'yxati</a></li>
          <li class="main-navigation__item"><a href="#">Postlar</a></li>
          <li class="main-navigation__item"><a href="#">Dastur mualliflari</a></li>
          <li class="main-navigation__item"><a href="#">Bog'lanish</a></li>
        </ul>
      </div>
      <div class="nav-search-auth">
        <div class="search-item">
          <div class="form">
            <input type="search" name="text" class="search" placeholder="Qidiruv">
            <input type="submit" name="submit" class="submit" value="">
          </div>
        </div>
        <div class="auth-button">
          <button routerLink= "/auth">Kirish | Registratsiya</button>
        </div>
      </div>
    </div>
  </div>
</header>
