<header class="main-header">
  <div class="container">

    <nav class="main-navigation">

      <ul class="main-navigation__items">
        <div class="header-logo">
        <a href="#">
          <img ngSrc="./assets/images/logo.png" alt="Logo" height="320" width="320"/>
        </a>
      </div>
        <li class="main-navigation__item active"><a href="#">Asosiy</a></li>
        <li class="main-navigation__item"><a href="#">Fanlar</a></li>
        <li class="main-navigation__item"><a href="#">Mualliflar ro'yxati</a></li>
        <li class="main-navigation__item"><a href="#">Postlar</a></li>
        <li class="main-navigation__item"><a href="#">Dastur mualliflari</a></li>
        <li class="main-navigation__item"><a href="#">Bog'lanish</a></li>

      </ul>
      <div class="navbar-right">
        <button class="profile-btn">SignIn / SignUp</button>
      </div>
    </nav>
  </div>
</header>
