<app-header></app-header>
<section class="main-theme">
  <div class="cover-theme">
      <div class="content">
          <div class="text">
              <h1>Заголовок</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sequi ad esse recusandae
                  saepe ut tenetur ab aperiam? Minus, cumque! Quia, iusto nisi unde quisquam veniam ducimus
                  repudiandae, incidunt iure atque reprehenderit dignissimos deleniti sit non nam, eum laborum
                  similique!
              </p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure cum repellat soluta pariatur dolor iste, corrupti mollitia assumenda obcaecati ea aut odio blanditiis velit suscipit eos iusto impedit, hic totam alias eligendi natus. Ea, recusandae earum commodi magni soluta adipisci quod porro aut! Dicta quo commodi aliquam dolores laboriosam blanditiis officiis placeat explicabo debitis odio!
              </p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate earum, expedita possimus placeat libero nostrum rerum neque quia omnis corrupti quam. Tenetur perspiciatis tempore eaque nihil alias.
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam dolore porro cumque accusantium odit repellat earum minima id, necessitatibus a nemo reprehenderit expedita dicta minus? Laudantium alias molestias sunt, voluptas, voluptates mollitia dignissimos tempora aliquid nesciunt cumque rerum. Laboriosam vel accusamus, id dicta tempora harum sapiente quibusdam libero necessitatibus?
              </p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ipsum quidem consequuntur quos perspiciatis, perferendis, itaque vitae distinctio, ab nam deserunt accusamus quo.
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, asperiores nemo atque odit
                  reiciendis, aspernatur qui nulla molestiae rerum temporibus ab omnis aperiam fugit
                  blanditiis!
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi modi error ut, magni animi numquam nisi! Repellendus, esse explicabo aspernatur alias ipsum quibusdam consequuntur sunt asperiores ipsam! Porro nam illo voluptate optio molestias, corporis ducimus veniam dolor, earum accusamus nihil.
              </p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus molestiae, consequuntur delectus rem excepturi officiis quia obcaecati ex commodi nulla error! Ratione maxime omnis neque saepe aperiam nesciunt, commodi laboriosam ipsa possimus consequatur consectetur.
              </p>
          </div>
          <div class="page-number">
              <ul>
                  <li class="page-up"><a href="#"><i class="fas fa-chevron-left"></i></a></li>
                  <li><a href="#" class="active">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">80</a></li>
                  <li><a href="#">81</a></li>
                  <li><a href="#">82</a></li>
                  <li class="page-down"><a href="#"><i class="fas fa-chevron-right"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="similar-content">
          <div class="similar-title">
              <h2>Похожее</h2>
          </div>
          <ul>
              <li>
                  <a href="#" class="similar-theme">Lorem ipsum dolor sit amet.</a>
              </li>
              <li>
                  <a href="#" class="similar-theme">Lorem, ipsum dolor sit amet adipisicing elit. Sunt inventore provident, repellendus dolorum sit?</a>
              </li>
              <li>
                  <a href="#" class="similar-theme">Lorem ipsum dolor sit, amet elit. Illo, labore.</a>
              </li>
          </ul>
      </div>
  </div>
</section>
<app-footer></app-footer>
