.subject-main{

  align-content: center;
}
.subject-title{
  margin: 50px 100px;
  text-align: center;
  background-color: #efb6df;
}
.subject-themes{
display: flex;
}
.subject-themes-list__item{
  width: 100px;
  list-style: none;
}
.subject-themes-list{
  text-decoration: none;
}
.theme-contents{

}

.theme-contents>h2{
  text-align: center;
}
.theme-contents > p{
}
