.subject-main{
margin: 1px 50px;
  align-content: center;
}
.subject-title{
  margin: 50px 100px;
  text-align: center;
  background-color: #efb6df;
}
.subject-themes{
display: flex;
}
.subject-themes-list__item{
  width: 100px;
  list-style: none;
}
.subject-themes-list{
  text-decoration: none;
}
.theme-contents{
margin: 2px 20px;
}

.theme-contents>h2{
  text-align: center;
}
.theme-contents > p{
}
.btn-add{
  background: greenyellow;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px;
}
