<app-header></app-header>
<section class="subject">
    <div class="container">
        <div class="cover-subject">
            <div class="content color-white">
                <div class="content-padd">
                    <div class="cover-content">
                        <div class="cover-image">
                            <img src="\assets\images\cover.jpg" alt="">
                        </div>
                        <a href="#" class="cover-read"><i class="fa-solid fa-book"></i> Читать</a>
                        <a href="#" class="cover-download"><i class="fa-solid fa-download"></i> Скачать</a>
                        <a href="#" class="cover-library"><i class="fa-solid fa-plus"></i> В библиотеку</a>
                    </div>
                    <div class="author-content">
                        <h1>Алгебра. 8 класс. Углублённый уровень 4-е издание, стереотипное</h1>
                        <div class="author">
                            <span>Авторы: </span>
                            <a href="#" class="author-individual">Н. Г. Миндюк</a>
                            <a href="#" class="author-individual">Ю. Н. Макарычев</a>
                            <a href="#" class="author-individual">К. И. Нешков</a>
                        </div>
                        <div class="book-stats">
                            <span><i class="fa-regular fa-eye"></i> 234</span>
                            <button>
                                <span><i class="fa-regular fa-heart"></i> Нравиться</span>
                            </button>
                        </div>
                        <div class="genres">
                            <span>Жанры и теги: </span>
                            <a href="#" class="genre">Алгебра</a>
                            <a href="#" class="genre">Углубленный</a>
                            <a href="#" class="genre">Продвинутый</a>
                            <a href="#" class="genre">Задания по математике</a>
                            <a href="#" class="genre">Математика</a>
                            <a href="#" class="genre">Предметы школьного курса</a>
                            <a href="#" class="genre">Углубленное изучение алгебры</a>
                            <a href="#" class="genre">Учебники ФГОС</a>
                        </div>
                        <div class="desc-content">
                            <h2>Описание</h2>
                            <span>Данный учебник предназначен для углублённого изучения алгебры в 8 классе. Это второй
                                учебник завершённой линии учебников по алгебре для 7—9 классов, подготовленных в
                                соответствии со всеми требованиями Федерального государственного образовательного
                                стандарта основного общего образования. Особенностями этого учебника являются расширение
                                и углубление традиционных учебных тем за счёт теоретико-множественной,
                                вероятностно-статистической и историко-культурной линий. Он содержит большое количество
                                разнообразных по тематике и уровню сложности упражнений.

                                Главы 1, 6, 7 написаны Ю. Н. Макарычевым; главы 2, 5, а также § 7, 8 – Н. Г. Миндюк;
                                глава 4, а также § 6 – К. И. Нешковым; доработка некоторых тем и ряда упражнений
                                выполнена И. Е. Феоктистовым.</span>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="side-similars color-white">
                <h3>Похожие</h3>
                <ul class="similars">
                    <li>
                        <div class="similar-img">
                            <img src="\assets\images\book-view.jpg" alt="">
                        </div>
                        <div class="similar-desc">
                            <h4>Литература 8 классс. Углубленный</h4>
                            <div class="author-sim">
                                <span>Авторы: </span>
                                <a href="#">Н. Г. Минвпф</a>
                            </div>
                        </div>
                    </li>    
                    <li>
                        <div class="similar-img">
                            <img src="\assets\images\book-view.jpg" alt="">
                        </div>
                        <div class="similar-desc">
                            <h4>Литература 8 классс. Углубленный</h4>
                            <div class="author-sim">
                                <span>Авторы: </span>
                                <a href="#">Н. Г. Минвпф</a>
                            </div>
                        </div>
                    </li>    
                    <li>
                        <div class="similar-img">
                            <img src="\assets\images\book-view.jpg" alt="">
                        </div>
                        <div class="similar-desc">
                            <h4>Литература 8 классс. Углубленный</h4>
                            <div class="author-sim">
                                <span>Авторы: </span>
                                <a href="#">Н. Г. Минвпф</a>
                            </div>
                        </div>
                    </li>                       
                </ul>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
