<app-header></app-header>
<main class="container">
  <div class="home-selection">
    <div class="home-title-selection">
      <h1>Raqamli ta‘lim resursi Platformasi</h1>
    </div>
    <div class="home-banner-selection">
      <div class="home-card-selection">
        <a href="#">
          <i class="fa-solid fa-school"></i>
        </a>
        <a href="#">
          <h2>Sayt haqida</h2>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum temporibus labore deserunt sit vel quam cum harum at hic perspiciatis repellat minima quas perferendis amet eum nihil, enim, qui ratione!
        </p>
      </div>
      <div class="home-card-selection">
        <a href="#">
          <i class="fa-solid fa-school"></i>
        </a>
        <a href="#">
          <h2>Mustaqil ish</h2>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum  minima quas perferendis amet eum nihil, enim, qui ratione!
        </p>
      </div>
      <div class="home-card-selection">
        <a href="#">
          <i class="fa-solid fa-school"></i>
        </a>
        <a href="#">
          <h2>Test</h2>
        </a>
        <p>
          Lorem ipsum dolor sit amet. Illum temporibus labore deserunt sit vel quam cum harum at hic perspiciatis repellat minima quas perferendis amet eum nihil, enim, qui ratione!
        </p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
