<app-header></app-header>
<div class="subjects-container">
  <div class="subjects">
  <div class="subjects-banner">
    <h1>Professiogrammalar</h1>
    <div class="subject-banner__image">
    <img ngSrc="assets/images/subject-banner.png" alt="Logo" height="300" width="300">
    </div>
  </div>

  <div class="subjects-body">
    <div class="subjects-list"><div>
      <div class="subjects-list-header">
        <h4>Kasb va mutaxassisliklar</h4>
        <a routerLink="/direction-add" class="add-subject">
          +
        </a>
      </div>

    </div>

      <div class="subjects-list__item selected">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>

      <div class="subjects-list__item">

        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 40px; justify-content: start">

      <a routerLink="/subject-add" class="btn-add" >+ Add Subject</a>
    <div class="subject-list-selected-items">
      <a  routerLink="/subject-themes" style="text-decoration: none">
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      </a>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>
