<app-header></app-header>
<div class="subjects">
  <div class="subjects-banner">
    <h1>Professiogrammalar</h1>
    <div class="subject-banner__image">
    <img ngSrc="assets/images/subject-banner.png" alt="Logo" height="300" width="300">
    </div>
  </div>

  <div class="subjects-body">
    <div class="subjects-list"><div>
      <div class="subjects-list-header">
        <h4>Kasb va mutaxassisliklar</h4>
        <button class="add-subject">
          +
        </button>
      </div>

    </div>

      <div class="subjects-list__item selected">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>

      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>
      <div class="subjects-list__item">
        <div class="subject-list__item-title">
          San’at va gumanitar fanlar
        </div>
      </div>

    </div>
    <div class="subject-list-selected-items">
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="item-image"></div>
        <div class="item-content">
          <h3 class="item-title">Title</h3>
          <p class="item-subtitle">Subtitle</p>
        </div>
      </div>
  </div>

</div>
</div>
<p>subjects works!</p>
<app-footer></app-footer>
